.futurecrap {
    display: grid;

}

.w3-bar-item {
    border: none;
}

.weather-box {
    display: flex;
    border-bottom: gray solid 1px;
}

.temperature {
    margin-left: auto;
    font-weight: bold;
}


.time {
    font-size: 10px;
}


/* buttons for the prediction tab */
.button-switcher {
    border: none;
    background-color: #F8F9FA;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}