/* HEADER */

/* header */
.header {
    height: 13%; /* pixel perfect from original */
}

/* header div */
.header-container {
    margin-left: 3%; /* spacing from screen to container */
    margin-right: 3%;
    display: flex;
    background-color: #FFFFFF;
    height: 100%;
}


/* hamburger, logo, city stuff */
.logo-container {
    display: flex;
    width: 42%; /* size of logo and city stuff */
    align-items: center;
    height: 100%;
}

.logo-text-box {
    display: flex;
    width: 50%;
    margin-left: 5%;
}

/* logo text (VTDT Sky) */
.logo-text {
    margin-top: 0;
    color: #3B82F6;
    font-size: 24px;
}

/* logo + hamburger */
.logo-hamburger{
    display: flex;
    width: 100%; 
    gap: 15px; /* space from logo to hamburger */

}

/* hamburger button */
.hamburger {
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

/* location box */
.header-location {
    display: flex;
    align-items: center;
}

/* city name (p tag) */
.location-text {
    margin: 0;
    font-size: 16px;
    /* extracted from extension */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}