.futurecrap {
    display: grid;

}

.w3-bar-item {
    border: none;
}

.weather-box {
    display: flex;
    border-bottom: gray solid 1px;
}

.temperature {
    margin-left: auto;
    font-weight: bold;
}


.time {
    font-size: 20px;
}


/* buttons for the forecast tab */
.button-switcher {
    border: none;
    background-color: #F8F9FA;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.laiks1 {
    display: flex;
}

.time-description{
    
}
.forecast-icon {
    width: 30px;
    height: 30px;
}

.forecast-description {
    margin-top: -40px;
}


.weather-forecast {

}

