.summary-text-container {
    display: flex;
    height: 100%;
}

.summary-text {
    font-size: 15px;
}

.air-qualitaty-summary-container{
    display: flex;
    margin-top: -160px;
}

.summary-image {
    width: 70px;
    height: 60px;
    margin-right: 10px;
}